<h1> Here are your order details: </h1>

<h2> You ordered: </h2>

<% @order.carted_products.each do |carted_product| %>
  <h2> <%= carted_product.bee.name %> </h2>  
  <h2> <%= number_to_currency(carted_product.bee.price) %> X <%= carted_product.quantity %> </h2>  
  <% end %>

<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<h2>________________________</h2>
<h2>Price: <%= number_to_currency(@order.total) %></h2>






