<h1> Here are your order details: </h1>

<h2> You ordered: </h2>

<h2> Order Id: <%= @order.id %> </h2>
<h2> Product: <%= @order.bee.name %> </h2>
<h2> Quantity: <%= @order.quantity %> </h2>
<h2> Order Placed <%= @order.created_at %> </h2>

<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<h2>________________________</h2>
<h2>Price: <%= number_to_currency(@order.total) %></h2>






