<div class="row">
<% @bees.each do |bee| %>
  <div class="col-md-4">
    <div class="thumbnail well">
        <h2> <a href="/bees/<%=bee.id %>"><%= bee.name %> </a> </h2>
        <h3> Price: <%= bee.price %> </h3>
        <img src=<%= bee.first_image_url %> width=200px>
        <h3> <%= bee.description %> </h3>
     
</div>
  </div>
<% end %>
    </div>


