 <h2> <%= @bee.name %> </h2>
 <h2><%= @bee.image %> </h2>
 <h4> <%= @bee.price %> </h4>
  <h4> <%= @bee.description %> </h4>


<a href="/bees/<%= @bee.id %>/edit">Edit Bee thing</a>

<%= link_to "Delete", "/bees/#{ @bee.id }", method: :delete %>