 
 <h1> <%= @bee.name %> </h1>

 <p class="<%= "red-price" if @bee.discounted? %>"> Price: <%= number_to_currency(@bee.price) %> </p>
 <p> Tax: <%= number_to_currency(@bee.tax) %> </p>
 <p> Total: <%= number_to_currency(@bee.total) %> </p>
 <h3> <%= @bee.sale_message %>

  <h4> <%= @bee.description %> </h4>

<% @bee.images.each do |image| %>
 <img src=" <%= image.url %>" alt =" <%= image.name %>">
<% end %>
  
<h5>Supplier Name: <%= @bee.supplier.name %> </h5>

<div>
<h5>Category Type:</h5><% @bee.categories.each do |bee| %>
    <%= bee.name %>
    <%= "-" %>
    <% end %>
</div>

<div> 
  <% if admin_signed_in? %>
<% link_to "Edit Bee", "/bees/#{ @bee.id}/edit" , "btn btn-primary" %>
<%= link_to "Delete", "/bees/#{ @bee.id }", method: :delete %>
<% end %>
</div>

<%= form_tag '/carted_products', method: :post do %>

  <%= hidden_field_tag :bee_id, @bee.id %>


  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity%>
  </div>
  <%= submit_tag  "Add to Cart", class: "btn btn-primary"%>
  <% end %> 