

<a href="/">HOME</a> 

<h2> <%= @bee.name %> </h2>
<h3> <%= @bee.price %> </h3>
<img src=<%= @bee.image %> width=170px>
<h3> <%= @bee.description %> </h3>

<a href="/bees/<%= @bee.id %>/edit">Edit Bee</a>